<div id="viewRegisteredStudentsSection" class="d-none" >
    <h3>Registered Lecturer</h3>
    <div class ="virtualClassDiv" style="margin-top:14%; margin-bottom: 5%;">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button" onclick="startVirtualClass()">Start Virtual Class</button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Matric Number</th>
                <th>Department</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="registeredStudentListBody">
            <!-- Student list will be populated here -->
        </tbody>
    </table>
</div>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecturer Dashboard</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style>
           footer {
    background-color: #131f2b;
    padding: 10px;
    text-align: center;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
        .sidebar {
            height: 100vh;
            background-color: #131f2b;
        }
        body{
            box-sizing: border-box;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-3 col-lg-2 d-md-block sidebar collapse" style="padding:0px; margin:0px">
                <div class="position-sticky ">
                    <div class="d-flex justify-content-between align-items-center mb-4" style="border-bottom: .5px solid rgb(155, 149, 149); padding-bottom: 1rem; padding-top: .3rem; ">
                        <img src="/images/unical-logo.png" alt="School Logo" class="img-fluid" style="max-width:4rem;">
                        <small class="text-white bold ms-3" style="padding-right: -2rem;">UNIVERSITY OF CALABAR</small>
                      </div>
                    <ul class="nav flex-column">
                        <li class="nav-item d-flex justify-content-between  box-shadow" style="border-bottom: .5px solid rgb(155, 149, 149); padding-bottom: 1rem; ">
                            <a class="nav-link active text-white" href="#" id="studentListLink">
                                <i class="fas fa-users me-2"></i>
                               All Student
                            </a>
                        </li>
                        
                        <li class="nav-item  d-flex justify-content-between" style="border-bottom: .5px solid rgb(155, 149, 149); padding-bottom: 1rem; ">
                            <a class="nav-link text-white d-flex justify-content-between" href="#" id="addStudentLink" >
                                <span><i class="fas fa-user-plus me-2"></i></span>
                               <span>Register student to course</span> 
                            </a>
                        </li>
                        <li class="nav-item  d-flex justify-content-between" style="border-bottom: .5px solid rgb(155, 149, 149); padding-bottom: 1rem; ">
                            <a class="nav-link text-white d-flex justify-content-between" href="#" id="viewRegisteredStudentsLink" >
                                <span><i class="fa-solid fa-table-list"></i></i></span>
                               <span style="padding-left:5px ;">Registered student </span> 
                            </a>
                        </li>
                        <li class="nav-item  d-flex" style=" padding-bottom: 1rem; margin-top: 2rem; justify-content: center; ">
                          
                                <button class="btn btn-secondary" type="button" onclick="logout()">Logout</button>
                               
                
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div id="alertPlaceholder"></div>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Welcome, <span id="adminName"></span></h1>
                </div>
                <div id="viewRegisteredStudentsSection" class="d-none">
                    <h3>List of Registered Students</h3>
                    <div class ="virtualClassDiv" style="margin-top:14%; margin-bottom: 5%;">
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-primary" type="button" onclick="startVirtualClass()">Start Virtual Class</button>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Matric Number</th>
                                <th>Department</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="registeredStudentListBody">
                            <!-- Student list will be populated here -->
                        </tbody>
                    </table>
                </div>
                <!-- Student List Section -->
                <div id="studentListSection" class="d-none">
                    <h2>Student List</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>matricNumber</th>
                                <th>department</th>
                                <th>email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="studentListBody">
                            <!-- Student list will be populated here -->
                        </tbody>
                    </table>
                </div>

                <!-- Add Student Section -->
                <div id="addStudentSection" class="d-none">
                    <h2>Student Registration</h2>
                    <form id="registerStudentForm">
                        <div class="mb-3">
                            <label for="studentSelect" class="form-label">Select Student</label>
                            <select class="form-select" id="studentSelect" name="student" required>
                                <!-- Options will be populated dynamically -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="department">Select Department</label>
                            <select class="form-control" id="department" name="department" required>
                                <option value="computer_science">Computer Science</option>
                                <option value="mathematics">Mathematics</option>
                                <option value="physics">Physics</option>
                                <option value="chemistry">Chemistry</option>
                                <option value="biology">Biology</option>
                                <option value="geology">Geology</option>
                                <option value="statistics">Statistics</option>
                                <option value="biochemistry">Biochemistry</option>
                                <option value="microbiology">Microbiology</option>
                                <option value="environmental_science">Environmental Science</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="course">Select Course</label>
                            <select class="form-control" id="course" name="course" required>
                                <option value="mobile_adaptive_technologies">Mobile/Adaptive Technologies</option>
                                <!-- <option value="operating_system">Operating System</option>
                                <option value="advance_database_systems">Advance Database Systems</option>
                                <option value="programming_languages">Programming Languages</option>
                                <option value="advance_computer_algorithms">Advance Computer Algorithms</option>
                                <option value="object_oriented_programming">Object Oriented Programming</option>
                           -->
                            </select> 
                        </div>
                        <button type="submit" class="btn btn-primary">Register Student</button>
                    </form>
                   
                    <div id="studentListSection2" >
                        <h3 class="mt-4">Students Registered</h3>
                        <div class ="virtualClassDiv">
                            <div class="d-grid gap-2 col-6 mx-auto">
                                
                              </div>
                        </div>
                        <table class="table table-striped" >
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>matricNumber</th>
                                    <th>department</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="studentListBody2" id="studentList2">
                                <!-- Student list will be populated here -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
            <footer class="text-center">
                <p>Developed by  <strong>EKPOR JOHN NKANU.</strong> This app facilitates low-bandwidth, real-time virtual classroom sessions. © 2024.</p>
            </footer>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        async function logout() {
    try {
        const response = await fetch('/api/logout', { method: 'POST' });
        const data = await response.json();
        if (data.success) {
            // Redirect to login page or home page
            window.location.href = '/admin/login';
        } else {
            console.error('Logout failed:', data.message);
        }
    } catch (error) {
        console.error('Error during logout:', error);
    }
}
        function startVirtualClass() {
    window.location.href = '/admin/virtual-class';
}
        // Populate admin name
       document.getElementById('adminName').textContent = '<%= admin.fullName %>';
    
        // Navigation functionality
        document.getElementById('studentListLink').addEventListener('click', function(e) {
            e.preventDefault();
            showSection('studentListSection');
            loadStudentList();
        });
        document.getElementById('viewRegisteredStudentsLink').addEventListener('click', function(e) {
    e.preventDefault();
    showSection('viewRegisteredStudentsSection');
    loadRegisteredStudents2('mobile_adaptive_technologies');
});
        document.getElementById('addStudentLink').addEventListener('click', function(e) {
            e.preventDefault();
            showSection('addStudentSection');
            loadStudentSelect();
        });
    
        function showSection(sectionId) {
            document.querySelectorAll('main > div').forEach(div => div.classList.add('d-none'));
            document.getElementById(sectionId).classList.remove('d-none');
        }
    
        function loadStudentList() {
            axios.get('/api/students')
                .then(function(response) {
                    console.log(response.data)
                    const studentListBody = document.getElementById('studentListBody');
                    studentListBody.innerHTML = '';
                    response.data.students.forEach(student => {
                        const row = `
                            <tr>
                                <td>${student.fullName}</td>
                                <td>${student.matricNumber}</td>
                                <td>${student.department}</td>
                                <td>${student.email}</td>
                                <td>
                                    <button class="btn btn-sm btn-primary" onclick="registerToCourse('${student._id}')">Register to Course</button>
                                </td>
                            </tr>
                        `;
                        studentListBody.innerHTML += row;
                    });
                })
                .catch(function(error) {
                    console.error('Error loading student list:', error);
                });
        }
    
        function loadStudentSelect() {
            axios.get('/api/students')
                .then(function(response) {
                    console.log(response.data)
                    const studentSelect = document.getElementById('studentSelect');
                    studentSelect.innerHTML = '<option value="">Select a student</option>';
                    response.data.students.forEach(student => {
                        studentSelect.innerHTML += `<option value="${student._id}">${student.fullName}</option>`;
                    });
                })
                .catch(function(error) {
                    console.error('Error loading student select:', error);
                });
        }
    
        document.getElementById('registerStudentForm').addEventListener('submit', function(e) {
            e.preventDefault();
    
            const formData = new FormData(this);
            const data = Object.fromEntries(formData);
            console.log('Submitting data:', data);
            axios.post('/api/register-student-to-course', data)
                .then(function(response) {
                    if (response.data.success) {
                        showAlert('Student registered to course successfully!', 'success');
                        loadRegisteredStudents(data.course);
                    
                    } else {
                        showAlert('Failed to register student to course.', 'danger');
                    }
                })
                .catch(function(error) {
                    console.error('Error:', error);
                    showAlert('An error occurred. Please try again later.', 'danger');
                });
        });
    
        function showAlert(message, type) {
        const alertPlaceholder = document.getElementById('alertPlaceholder');
        alertPlaceholder.innerHTML = `
            <div class="alert alert-${type} alert-dismissible fade show" role="alert">
                <strong>${message}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        `;
        alertPlaceholder.classList.remove('d-none');
    }
    function loadRegisteredStudents(course) {
        axios.get(`/api/courses/${course}/students`)
            .then(function(response) {
                console.log("ress",response.data.students)
                const studentListBody2 = document.getElementById('studentListBody2');
                studentListBody2.innerHTML = '';
                const department = response.data.department
                response.data.students.forEach(student => {
                    const row =`
                    <tr>
                                <td>${student.name}</td>
                                <td>${student.matricNumber}</td>
                                <td>${department}</td>

                                <td>
                                    <button class="btn btn-sm btn-primary" onclick="removeFromCourse('${student.matricNumber}', '${course}')">Remove from course</button>
                                </td>
                            </tr>
                        `;
                        studentListBody2.innerHTML += row
                      
                });
               // showSection('courseStudentsSection');
            })
            .catch(function(error) {
                console.error('Error loading registered students:', error);
            });
    }
    function loadRegisteredStudents2(course) {
        axios.get(`/api/courses/${course}/students2`)
            .then(function(response) {
                console.log("ress",response.data.students)
                const studentListBody3 = document.getElementById('registeredStudentListBody');
                studentListBody3.innerHTML = '';
                const department = response.data.department
                response.data.students.forEach(student => {
                    const row =`
                    <tr>
                                <td>${student.name}</td>
                                <td>${student.matricNumber}</td>
                                <td>${department}</td>

                                <td>
                                    <button class="btn btn-sm btn-primary" onclick="removeFromCourse('${student.matricNumber}', '${course}')">Remove from course</button>
                                </td>
                            </tr>
                        `;
                        studentListBody3.innerHTML += row
                      
                });
               // showSection('courseStudentsSection');
            })
            .catch(function(error) {
                console.error('Error loading registered students:', error);
            });
    }
    function removeFromCourse(matricNumber, course) {
        axios.post('/api/remove-student-from-course', { matricNumber, course })
            .then(function (response) {
                if (response.data.success) {
                    showAlert('Student removed from course successfully!', 'success');
                    loadRegisteredStudents(course);  // Refresh the list
                    loadRegisteredStudents2(course)
                } else {
                    showAlert('Failed to remove student from course.', 'danger');
                }
            })
            .catch(function (error) {
                console.error('Error removing student from course:', error);
                showAlert('An error occurred. Please try again later.', 'danger');
            });
    }
        function registerToCourse(studentId) {
            // Populate the student ID in the form
            document.getElementById('studentSelect').value = studentId;
            showSection('addStudentSection');
        }
    
        // Initial load
        showSection('studentListSection');
        loadStudentList();
    </script>
    
</body>
</html>